[Unit]
Description=Project Reshoot
After=network.target

[Service]
ExecStart=/home/deploy/production/projectreshoot
WorkingDirectory=/home/deploy/production
User=deploy
Group=deploy
EnvironmentFile=/etc/env/projectreshoot.env
Environment="HOST=0.0.0.0"
Environment="PORT=3000"
Environment="TRUSTED_HOST=projectreshoot.com"
Environment="SSL=true"
Environment="GZIP=true"
Environment="LOG_LEVEL=info"
Environment="LOG_DIR=/home/deploy/production/logs"
LimitNOFILE=65536
Restart=on-failure
TimeoutSec=30
PrivateTmp=true
NoNewPrivilages=true
AmbientCapabilites=CAP_NET_BIND_SERVICE
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
