[Unit]
Description=Project Reshoot Staging
After=network.target

[Service]
ExecStart=/home/deploy/staging/projectreshoot
WorkingDirectory=/home/deploy/staging
User=deploy
Group=deploy
EnvironmentFile=/etc/env/staging.projectreshoot.env
Environment="HOST=127.0.0.1"
Environment="PORT=3005"
Environment="TRUSTED_HOST=staging.projectreshoot.com"
Environment="SSL=true"
Environment="GZIP=true"
Environment="LOG_LEVEL=debug"
Environment="LOG_OUTPUT=both"
Environment="LOG_DIR=/home/deploy/staging/logs"
LimitNOFILE=65536
Restart=on-failure
TimeoutSec=30
PrivateTmp=true
NoNewPrivilages=true
AmbientCapabilites=CAP_NET_BIND_SERVICE
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
