@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme inline {
  --color-rosewater: var(--rosewater);
  --color-flamingo: var(--flamingo);
  --color-pink: var(--pink);
  --color-mauve: var(--mauve);
  --color-red: var(--red);
  --color-maroon: var(--maroon);
  --color-peach: var(--peach);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-teal: var(--teal);
  --color-sky: var(--sky);
  --color-sapphire: var(--sapphire);
  --color-blue: var(--blue);
  --color-lavender: var(--lavender);
  --color-text: var(--text);
  --color-subtext1: var(--subtext1);
  --color-subtext0: var(--subtext0);
  --color-overlay2: var(--overlay2);
  --color-overlay1: var(--overlay1);
  --color-overlay0: var(--overlay0);
  --color-surface2: var(--surface2);
  --color-surface1: var(--surface1);
  --color-surface0: var(--surface0);
  --color-base: var(--base);
  --color-mantle: var(--mantle);
  --color-crust: var(--crust);
}
:root {
  --rosewater: hsl(11, 59%, 67%);
  --flamingo: hsl(0, 60%, 67%);
  --pink: hsl(316, 73%, 69%);
  --mauve: hsl(266, 85%, 58%);
  --red: hsl(347, 87%, 44%);
  --maroon: hsl(355, 76%, 59%);
  --peach: hsl(22, 99%, 52%);
  --yellow: hsl(35, 77%, 49%);
  --green: hsl(109, 58%, 40%);
  --teal: hsl(183, 74%, 35%);
  --sky: hsl(197, 97%, 46%);
  --sapphire: hsl(189, 70%, 42%);
  --blue: hsl(220, 91%, 54%);
  --lavender: hsl(231, 97%, 72%);
  --text: hsl(234, 16%, 35%);
  --subtext1: hsl(233, 13%, 41%);
  --subtext0: hsl(233, 10%, 47%);
  --overlay2: hsl(232, 10%, 53%);
  --overlay1: hsl(231, 10%, 59%);
  --overlay0: hsl(228, 11%, 65%);
  --surface2: hsl(227, 12%, 71%);
  --surface1: hsl(225, 14%, 77%);
  --surface0: hsl(223, 16%, 83%);
  --base: hsl(220, 23%, 95%);
  --mantle: hsl(220, 22%, 92%);
  --crust: hsl(220, 21%, 89%);
}

.dark {
  --rosewater: hsl(10, 56%, 91%);
  --flamingo: hsl(0, 59%, 88%);
  --pink: hsl(316, 72%, 86%);
  --mauve: hsl(267, 84%, 81%);
  --red: hsl(343, 81%, 75%);
  --maroon: hsl(350, 65%, 77%);
  --peach: hsl(23, 92%, 75%);
  --yellow: hsl(41, 86%, 83%);
  --green: hsl(115, 54%, 76%);
  --teal: hsl(170, 57%, 73%);
  --sky: hsl(189, 71%, 73%);
  --sapphire: hsl(199, 76%, 69%);
  --blue: hsl(217, 92%, 76%);
  --lavender: hsl(232, 97%, 85%);
  --text: hsl(226, 64%, 88%);
  --subtext1: hsl(227, 35%, 80%);
  --subtext0: hsl(228, 24%, 72%);
  --overlay2: hsl(228, 17%, 64%);
  --overlay1: hsl(230, 13%, 55%);
  --overlay0: hsl(231, 11%, 47%);
  --surface2: hsl(233, 12%, 39%);
  --surface1: hsl(234, 13%, 31%);
  --surface0: hsl(237, 16%, 23%);
  --base: hsl(240, 21%, 15%);
  --mantle: hsl(240, 21%, 12%);
  --crust: hsl(240, 23%, 9%);
}
.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", serif;
  font-weight: 700;
  font-style: italic;
}
