package page

import "projectreshoot/view/layout"

// Page content for the index page
templ Index() {
	@layout.Global() {
		<div class="text-center mt-24">
			<div class="text-4xl lg:text-6xl">Project Reshoot</div>
			<div>A better way to discover and rate films</div>
		</div>
	}
}
